<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The weather</title>
    <link rel="stylesheet" href="/css/style2.css" />
  </head>

  <body id="body">
    <div class="app" id="app">
      <!-- forms for acount -->
      <div class="buttons_forms">
        <div id="modal_acount" class="modal">
          <div class="modal_acount-content">
            <span class="close">&times;</span>
            <div class="modal-content_without_close">
              <h2>Fill out the form</h2>
              <p>username</p>
              <input
                type="text"
                class="modal_acount-input_username"
                id="modal_acount-input_username"
                placeholder="create username"
                required />
              <span
                id="username-validation-message"
                class="validation-message"
                style="display: none"></span>
              <p>email</p>
              <input
                type="email"
                class="modal_acount-input_email"
                id="modal_acount-input_email"
                placeholder="enter your email"
                required />
              <span
                id="email-validation-message"
                class="validation-message"
                style="display: none"></span>
              <p>password</p>
              <input
                type="password"
                class="modal_acount-input_password"
                id="modal_acount-input_password"
                placeholder="create a password"
                required />
              <span
                id="password-validation-message"
                class="validation-message"
                style="display: none"></span>
              <button class="btn_create_ac">Create acount</button>
            </div>
          </div>
        </div>
        <div id="modal_logIn" class="modal">
          <div class="modal_logIn-content">
            <span class="close">&times;</span>
            <div class="modal-content_without_close">
              <h2>fill in your details</h2>
              <p>email</p>
              <input
                type="email"
                class="modal_logIn-input_email"
                id="modal_logIn-input_email"
                placeholder="enter your email"
                required />
              <p>password</p>
              <input
                type="password"
                class="modal_logIn-input_password"
                id="modal_logIn-input_password"
                placeholder="enter your password"
                required />
              <button class="btn_logIn_ac">Log in</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form_acount">
        <button id="btn_reg" class="btn_reg">Create account</button>
        <button id="btn_logIn" class="btn_logIn">Log in</button>
      </div>
      <div class="app_container">
        <!-- upper part -->
        <div class="app_container-top">
          <!-- create form -->
          <form class="location-form" id="location-form">
            <input
              type="text"
              class="location-form_input"
              id="location-form_input"
              placeholder="Location"
              required />
            <button class="location-form_button" id="location-form-button">
              <svg
                class="location-form_icon"
                width="20"
                height="20"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_15_152)">
                  <rect width="24" height="24" fill="transparent" />
                  <circle
                    cx="10.5"
                    cy="10.5"
                    r="6.5"
                    stroke="#000000"
                    stroke-linejoin="round" />
                  <path
                    d="M19.6464 20.3536C19.8417 20.5488 20.1583 20.5488 20.3536 20.3536C20.5488 20.1583 20.5488 19.8417 20.3536 19.6464L19.6464 20.3536ZM20.3536 19.6464L15.3536 14.6464L14.6464 15.3536L19.6464 20.3536L20.3536 19.6464Z"
                    fill="#333333" />
                </g>
              </svg>
            </button>
          </form>
        </div>
        <!-- lower part -->
        <div class="app_container-bottom" id="cards-box">
          <!-- card -->
        </div>
      </div>
    </div>

    <script defer type="module" src="/js/main2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
