<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The weather</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/newsletter.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body id="body">
    <div class="newsletter_form">
        <div class="newsletter_form-header">Fill out with your data</div>
        <div class="newsletter_form-body">
            <form id="newsletterForm" action="/auth/newsletter" method="POST">
                <div class="newsletter_form_group">
                    <!-- EMAIL -->
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>

                <div class="newsletter_form_group">
                    <!-- REGION -->
                    <label for="region">Region</label>
                    <input type="text" class="form-control" id="region" name="region" required oninput="checkCityAvailability()"/>
                </div>

                <div class="newsletter_form_group">
                    <!-- FREQUENCY -->
                    <label for="frequency">Frequency</label>
                    <input type="radio" id="daily" name="frequency" value="daily" required>
                    <label for="daily">Daily</label>
                    <input type="radio" id="weekly" name="frequency" value="weekly">
                    <label for="weekly">Weekly</label>
                </div>

                <button type="submit" class="btn_newsletter">Create Newsletter</button>
            </form>
            <div id="message" style="display: none;"></div>
        </div>
    </div>
<script defer type="module" src="js/newsletter.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>