<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The weather</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/profile.css" />
</head>

<body id="body">
    <div class="app" id="app">
        <nav class="nav_container">
            <h2>Your weather</h2>
            <ul class="nav_list">
                <li><a href="/">Home</a></li>
                {{#if user}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="app_container_profile">
            <div class="app_left_container">
                <!-- image upload -->
                <div class="image-upload-container">
                    <div class="profile-picture">
                        <img src="{{user.profile_photo}}" alt="Profile Picture" width="150" height="150">
                    </div>
                <form id="photo-upload-form" action="/auth/upload-photo" method="POST" enctype="multipart/form-data">
                    <input type="file" name="profile_photo" accept="image/*" required />
                    <span>then click "Apply photo" </span>
                    <button class="apply_photo" type="submit">Apply photo</button>
                </form>

                </div>
            </div>
            <div class="app_right_container">
                <h1>Welcome, <span>{{user.username}}</span>!</h1>
                <p>Dear user, the function of regular weather updates is now available for you.</p>
                
                <h4>Activation instructions:</h4>
                <ol>
                    <li>First, click on the "Create a weather newsletter" button</li>
                    <li>Next, fill out the form (please note that using your profile mail is not required, you can enter another address)</li>
                    <li>Click the "create a newsletter" button</li>
                    <li>If the registration was successful, you will receive a notification to the email address you entered, otherwise,
                    repeat the procedure and check for correctness of the entered data.</li>
                </ol>
                <button class="create-newsletter-button" id="create-newsletter-button">Create a weather
                    newsletter</button>
            </div>
        </div>
    </div>
    <script defer type="module" src="js/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>