.frequency-options {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.frequency-option {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.frequency-option input[type="radio"] {
  display: none;
}

.frequency-option label {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: all 0.3s;
}

.frequency-option input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.frequency-option input[type="radio"]:checked + label::before {
  content: "\2022";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.message_weather {
  font-size: 20px;
  color: rgb(7, 44, 84);
  text-align: center;
  margin-top: 10px;
  border-style: solid;
  border-color: rgb(7, 44, 84);
  border-width: 3px;
}

.newsletter_form-header {
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(7, 44, 84);
  text-align: center;
}

.newsletter_form_group {
  margin-bottom: 20px;
}

.newsletter_form_group label {
  display: block;
  margin-bottom: 5px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin: 0;
}

.newsletter_form-header {
  margin-bottom: 20px;
}

.btn_newsletter {
  margin-top: 15px;
  font-size: 17px;
  background-color: rgb(7, 44, 84);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 10px 6px 10px;
  border: none;
  text-align: right;
}
