body {
  font-family: Arial, Verdana, sans-serif;
}

.app_container_profile {
  width: 70%; /* Ширина контейнера */
  margin: 0 auto; /* Автоматичні відступи зверху та знизу, автоматичне центрування по горизонталі */
  display: flex;
  background-color: #fff; /* Фон білий */
  padding: 30px; /* Відступи всередині контейнера */
  border-radius: 8px; /* Округлені кути */
  gap: 10px;
  justify-content: space-between; /* Розподілити простір між елементами */
  align-items: center; /* Вирівняти елементи по вертикалі по центру */
}

.app_left_container {
  flex: 1;
}

.app_right_container {
  flex: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-upload-container {
  text-align: left;
}

.upload-button:hover {
  cursor: pointer;
}

.create-newsletter-button {
  margin-top: 15px;
  font-size: 20px;
  background-color: rgb(7, 44, 84);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 10px 6px 10px;
  border: none;
  text-align: right;
}

.profile-picture {
  width: 450px;
  height: 350px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
}

.custom-file-upload {
  cursor: pointer;
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #ced4da;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}

.custom-file-upload:hover {
  background-color: #e9ecef;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  content: "Click to chose your photo";
  display: inline-block;
  background-color: rgb(7, 44, 84);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 20px;
}

.apply_photo {
  background-color: white;
  border-color: rgb(7, 44, 84);
  border-width: 3px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

h1 {
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 10px;
}
